body{
    margin: 0%;
    max-width: fit-content;
    font-family:  'Oswald', sans-serif;;
}



h1 {
    font-size: 40px;
 
}
.highlight {
    color: purple;
    font-weight: 50px;
}

.link-button {
    text-decoration: none;
    
    background-image: linear-gradient(180deg,  tomato, blue );
    padding: 10px 20px;
    border-radius: 5%;
    font-weight: 700;
    color: aliceblue 
}


.half-width {
    width: 40%;
   float: left;
    margin-left: 5%;
    padding-left: 2%;
}

.half-width img{
   width: 100%;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;

}

section {
    height: 500px;
}

.about-area{
    background-image: url(images/down-banner.png);
    background-repeat: no-repeat;
    background-position: right;
}
.exprience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left bottom ;
  
}

.single-exprinece{ 
    box-shadow: 10px 10px 40px gray;
 
}

#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,  tomato, blue );
    border-image-slice: 1 ;
}

#noob{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, tomato );
    border-image-slice: 1 ;
}



footer{
    text-align: center;
}
